<launch>
  
    <node pkg="svo_ros" type="vo" name="svo" clear_params="true" output="screen">
    
        <!-- Camera topic to subscribe to -->
        <param name="cam_topic" value="/usb_cam/image_raw" type="str" />

        <param name="publish_markers" value="true" type="bool"/>
        
        <param name="edge_inverse_depth_var_accept" value="0.025" type="double"/>
        <param name="klt_max_level" value="3" type="int"/>
        <param name="klt_min_level" value="1" type="int"/>
        <param name="min_baseline_to_depth_ratio" value="0.08" type="double"/>
        <param name="kfselect_mindist" value="0.12" type="double"/>

        <!-- Camera calibration file -->
        <rosparam file="$(find svo_ros)/param/120_atan_8.yaml" />
        
        <!-- Default parameter settings: choose between vo_fast and vo_accurate -->
        <rosparam file="$(find svo_ros)/param/vo_fast.yaml" />

    </node>
        
</launch>
